.main-container{
    background-color: #FAF9F6;
}
.main-container > div{
    max-width: 1140px;
}
h1, h2, h3, h4, h5, h6{
    font-family: Popins, sans-serif;
}
h1{
    font-size: 60px !important;
    color: #355266;
    line-height: 1.2em;
    margin: 0 0 20px 0 !important;
    font-weight: 700 !important;
}
a.button {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #7099A0;
    color: #ffffff;
    font-size: 18px;
}
a.button:hover {
    background-color: transparent;
    border: 1px solid #355266;
    color: #355266;
}
a.button-icon {
    font-size: 18px;
    color: #7099A0;
}